<div class="container jumbotron-container">
  <div class="jumbotron">
    <h1>Absence Alert</h1>
    <hr class="my-2">
    <p>Explaination here</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Signup Now</a></p>
  </div>
</div>
